button{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}
body{
  background-image: url(../media/img/canchas.JPG);
  background-size:cover;
}
form{
  width:100%;
  height: 100%;
}
h1{
  text-align: center;
  height: 10px;
  font-size:40px;
}

h4{
  height: 3px;
  margin-left: 8%;
  font-size: 15px;
  font-style: oblique;
}

input{
  width:400px;
  margin-left: 8%;
  border-radius:5px;
  border: 0;
}

.botones{
  height: 10%;
  display: flex;
  width: 500px;
  align-items: center;
  justify-content: center;
}
.envio{
  height: 8%;
  width: 20%;
  display: flex;
  align-content: center;
  padding-top: 8%;
  padding-left:40%;
}
.enviar{
  height: 30px;
  width:200px;
  background-color:rgb(61, 236, 55);
  outline: none;
  color:white;
  transition: background-color 0.5s;
}
.enviar:hover{
  background-color:rgb(43, 163, 39);
  transition:  background-color 0.5s;
}
.avisos{
  height: 7%;
  width: 100%;
}
a{
  font-size: 20px;
  color: white;
  text-decoration:none;
}
.formRegistro{
  border-radius: 8px;
  height: 100%;
  background-color: rgba(84, 78, 79, 0.473);
  width:500px;
}
.registro{
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 95%;
}
.imagen{
  width:40%;
  height: 100%;
}
#contenedor{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height:100vh;
}

#botonCambio{
  border-radius:50%;
  outline: none;
  width:18%;
  height:100%;
  border:0;
  background-color:rgba(248, 15, 15, 0.63);
  transition:  background-color 0.5s, width 0.5s;
}
#botonCambio:hover{
  border-radius:50%;
  width:19%;
  height:100%;
  border:0;
  background-color:rgba(116, 8, 8, 0.63);
  transition:  background-color 0.5s, width 0.5s;
}
