<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link  rel="icon"   href="../statics/media/img/loguito.png" type="image/png">
  <meta charset="utf-8">
  <title>Pagina de Usuario</title>
  <link rel="stylesheet" href="../statics/css/admi.css">
  <link rel="stylesheet" href="../lib/fontawesome_5_13/css/all.css">
</head>
<body>
  <div class="infousuario">
    <img id="perfil" src="../statics/media/img/icon.jpg">
    <p id="nombre">Nombre de Usuario</p>
  </div>
</div>
<div id="header">
  <ul class="nav">
    <li><a href="">Usuario</a>
      <ul>
        <li><a href="">Eliminar Usuario</a></li>
        <li><a href="">Agregar Usuario</a></li>
        <li><a href="">Modificar Estado de Usuario</a></li>
        <li><a href="">Modificar Datos </a>
          <ul>
            <li><a href="">Contraseña</a></li>
            <li><a href="">Correo</a></li>
            <li><a href="">Foto</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="">Encuestas</a>
      <ul>
        <li><a href="">Eliminar Encuesta</a></li>
        <li><a href="">Agregar Encuesta</a></li>
        <li><a href="">Modificar Estado de Encuestas</a></li>
        <li><a href="">Modificar Datos de Encuesta </a>
          <ul>
            <li><a href="">Categoria</a></li>
            <li><a href="">Nombre</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>

</div>
</body>
</html>
