<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link  rel="icon"   href="../statics/media/img/loguito.png" type="image/png">

    <title>Creditos</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> 
    <link rel="stylesheet" href="../statics/css/material-cards.css">
</head>
<body>
<section class="container">
    <div class="page-header">
        <h1 id="cred">Créditos</h1>
    </div>
    <div class="row active-with-click">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Green">
                <h2>
                    <span>Valeria Alejandra Oviedo Sánchez</span>
                    <strong>
                        <i class="fas fa-coffee"></i>
                        Ovi
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/ovi.png">
                    </div>
                    <div class="mc-description">
                      "Have the courage to seek the wisdom that Will grant you power" 🐱
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a href="https://www.facebook.com/chococatvale.ovi/" class="fab fa-facebook-square"></a>
                    <a href="https://www.instagram.com/vale_ovi3do/"class="fab fa-instagram"></a>
                    <a href="https://github.com/Oviedo404" class="fab fa-github-square"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Pink">
                <h2>
                    <span>Silvia Herrera González</span>
                    <strong>
                        <i class="far fa-hand-peace"></i>
                        Silvia
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/Silvia.jpeg">
                    </div>
                    <div class="mc-description">
                        "Grande es quien inspira al otro" 💖
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a href="https://www.facebook.com/profile.php?id=100034307952932" class="fab fa-facebook-square"></a>
                    <a href="https://www.instagram.com/silviaherrerag20/"class="fab fa-instagram"></a>
                    <a href="https://github.com/Silvia20-star" class="fab fa-github-square"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Purple">
                <h2>
                    <span>Omar Rodolfo Ordoñez Rangel</span>
                    <strong>
                        <i class="fas fa-atom"></i>
                        Omi
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/omar.jpg">
                    </div>
                    <div class="mc-description">
                        🍃 Life is pleasant. Death is peaceful. It’s the transition that’s troublesome. 🌱 - Isaac Asimov
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a href="https://www.facebook.com/miztliklop" class="fab fa-facebook-square"></a>
                    <a href="https://www.instagram.com/omilandscape/?hl=es-la"class="fab fa-instagram"></a>
                    <a href="https://github.com/MiztliKlop" class="fab fa-github-square"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Deep-Purple">
                <h2>
                    <span>Rodrigo Romero Lara</span>
                    <strong>
                        <i class="fa fa-fw fa-star"></i>
                        Rodri
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/rodri.jpg">
                    </div>
                    <div class="mc-description">
                        "Fais de ta vie un rêve, et d'un rêve, une réalité" - Antoine de Saint-Exupéry
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a href="https://www.facebook.com/rodlion11/" class="fab fa-facebook-square"></a>
                    <a href="https://www.instagram.com/rodrigo_rogo_10/?hl=es-la" class="fab fa-instagram"></a>
                    <a href="https://github.com/Dustibun" class="fab fa-github-square"></a>
                </div>
            </article>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <article class="material-card Blue">
                <h2>
                    <span>José Antonio Zahuantitla Vázquez</span>
                    <strong>
                        <i class="fas fa-rocket"></i>
                        Toño
                    </strong>
                </h2>
                <div class="mc-content">
                    <div class="img-container">
                        <img class="img-responsive" src="../statics/media/img/anton.png">
                    </div>
                    <div class="mc-description">
                        "When something is important enough, you do it even if the odds are not in your favor"- Elon Musk 
                    </div>
                </div>
                <a class="mc-btn-action">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="mc-footer">
                    <h4>
                        Social
                    </h4>
                    <a href="https://www.facebook.com/joseantonio.zahuantitlavazquez.3" class="fab fa-facebook-square"></a>
                    <a href="https://instagram.com/joseantoniozahuantitla?r=nametag" class="fab fa-instagram"></a>
                    <a href="https://github.com/AntonioZahuan" class="fab fa-github-square"></a>
                </div>
            </article>
        </div>

    </div>
</section>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="../dynamics/js/credits.js">
</script>
</body>
</html>
