<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <title>Im Bond, James Bond</title>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel='stylesheet' type='text/css' media='screen' href='../Statics/CSS/Creditos.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  </head>
  <body>
      <div id="contGeneral">
        <!-- Contenedor Silvia -->
        <div class="card">
            <div class="head"><span class="name">✨Silvia Herrera González✨</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://www.facebook.com/profile.php?id=100034307952932"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-instagram"></i>
                   <a href="https://www.instagram.com/silviaherrerag20/"><label>Instagram</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/Silvia20-star"><label>Github</label></a>
                </div>
            </div>
            <img src="../Statics/Img/profile.jpe">
            <div class="content">
                <p>Silvia Herrera González</p>
                <p class="oculto">"Grande es quien inspira al otro" 💖</p>
            </div>
        </div>


        <!-- Contenedor Omar -->


        <div class="card">
            <div class="head"><span class="name">Omar Rodolfo Ordónez Rangel</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://www.facebook.com/miztliklop"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-instagram"></i>
                   <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fomilandscape%2F%3Fhl%3Des-la&h=AT3soqHuu-G-dnF0yN_maSNow-BXQ1PreKFzhOZqdPxQ3TI511GZ0s4AAUj2QD9vDebT11W1rFRwh-Mzhlh7cJUrO4_-WlZ1GC4Z7WGIPYYzMXTJQgAd9ceQ0KUF62ylscrQVN5YHCqmflL3qlGC"><label>Instagram</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fgithub.com%2FMiztliKlop&h=AT3soqHuu-G-dnF0yN_maSNow-BXQ1PreKFzhOZqdPxQ3TI511GZ0s4AAUj2QD9vDebT11W1rFRwh-Mzhlh7cJUrO4_-WlZ1GC4Z7WGIPYYzMXTJQgAd9ceQ0KUF62ylscrQVN5YHCqmflL3qlGC"><label>Github</label></a>
                </div>
            </div>
            <img src="../Statics/Img/Omar.JPG">
            <div class="content">
                <p>Omar Rodolfo Ordónez Rangel</p>
                <p class="oculto">🍃 Life is pleasant. Death is peaceful. It’s the transition that’s troublesome. 🌱
- Isaac Asimov</p>
            </div>
        </div>


        <!-- Contenedor Ovi -->


        <div class="card">
            <div class="head"><span class="name">Valeria Oviedo</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://www.facebook.com/chococatvale.ovi/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-instagram"></i>
                   <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.instagram.com%2Fvale_ovi3do%2F&h=AT3soqHuu-G-dnF0yN_maSNow-BXQ1PreKFzhOZqdPxQ3TI511GZ0s4AAUj2QD9vDebT11W1rFRwh-Mzhlh7cJUrO4_-WlZ1GC4Z7WGIPYYzMXTJQgAd9ceQ0KUF62ylscrQVN5YHCqmflL3qlGC"><label>Instagram</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fgithub.com%2FOviedo404&h=AT3soqHuu-G-dnF0yN_maSNow-BXQ1PreKFzhOZqdPxQ3TI511GZ0s4AAUj2QD9vDebT11W1rFRwh-Mzhlh7cJUrO4_-WlZ1GC4Z7WGIPYYzMXTJQgAd9ceQ0KUF62ylscrQVN5YHCqmflL3qlGC"><label>Github</label></a>
                </div>
            </div>
            <img src="../Statics/Img/Ovi.png">
            <div class="content">
                <p>Valeria Oviedo</p>
                <p class="oculto">"Have the courage to seek the wisdom that Will grant you power" 🐱</p>
            </div>
        </div>


        <!-- Contenedor Rodrigo -->


        <div class="card">
            <div class="head"><span class="name">Rodrigo Romero</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://www.facebook.com/rodlion11/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-instagram"></i>
                   <a href="https://www.instagram.com/rodrigo_rogo_10/?hl=es-la"><label>Instagram</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/Dustibun"><label>Github</label></a>
                </div>
            </div>
            <img src="../Statics/Img/Rodrigo.jpg">
            <div class="content">
                <p>Rodrigo Romero</p>
                <p class="oculto">"Fais de ta vie un rêve, et d'un rêve, une réalité" - Antoine de Saint-Exupéry</p>
            </div>
        </div>


        <!-- Contenedor Antonio -->


        <div class="card">
            <div class="head"><span class="name">José Antonio Zahuantitla Vázquez 🚀</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://www.facebook.com/joseantonio.zahuantitlavazquez.3"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-instagram"></i>
                   <a href="https://instagram.com/joseantoniozahuantitla?r=nametag"><label>Instagram</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/AntonioZahuan"><label>Github</label></a>
                </div>
            </div>
            <img src="../Statics/Img/Antonio.jpg">
            <div class="content">
                <p>José Antonio Zahuantitla Vázquez</p>
                <p class="oculto">"When something is important enough, you do it even if the odds are not in your favor"- Elon Musk</p>
            </div>
        </div>
      </div>
  </body>
</html>
