<!<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <title>Im Bond, James Bond</title>
      <meta name='viewport' content='width=device-width, initial-scale=1'>
      <link rel='stylesheet' type='text/css' media='screen' href='../Statics/CSS/Creditos.css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
  </head>
  <body>
      <div id="contGeneral">
        <div class="card">
            <div class="head"><span class="name">Silvia Herrera González</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://es-la.facebook.com/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fas fa-at"></i>
                   <a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><label>Gmail</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/"><label>Github</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-spotify"></i>
                  <a href="https://www.spotify.com/mx/"><label>Spotify</label></a>
              </div>
            </div>
            <img src="../statics/media/img/canchas.JPG">
            <div class="content">
                <p>Silvia Herrera González</p>
                <p class="oculto">"Holaaaaaaaa"</p>
            </div>
        </div>


        <!-- Otro -->


        <div class="card">
            <div class="head"><span class="name">Omar Rodolfo Ordónez Rangel</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://es-la.facebook.com/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fas fa-at"></i>
                   <a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><label>Gmail</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/"><label>Github</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-spotify"></i>
                  <a href="https://www.spotify.com/mx/"><label>Spotify</label></a>
              </div>
            </div>
            <img src="../statics/media/img/canchas.JPG">
            <div class="content">
                <p>Omar Rodolfo Ordónez Rangel</p>
                <p class="oculto">"Holaaaaaaaa"</p>
            </div>
        </div>


        <!-- Otro -->


        <div class="card">
            <div class="head"><span class="name">Valeria Oviedo</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://es-la.facebook.com/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fas fa-at"></i>
                   <a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><label>Gmail</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/"><label>Github</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-spotify"></i>
                  <a href="https://www.spotify.com/mx/"><label>Spotify</label></a>
              </div>
            </div>
            <img src="../statics/media/img/canchas.JPG">
            <div class="content">
                <p>Valeria Oviedo</p>
                <p class="oculto">"Holaaaaaaaa"</p>
            </div>
        </div>


        <!-- Otro -->


        <div class="card">
            <div class="head"><span class="name">Silvia Herrera González</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://es-la.facebook.com/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fas fa-at"></i>
                   <a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><label>Gmail</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/"><label>Github</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-spotify"></i>
                  <a href="https://www.spotify.com/mx/"><label>Spotify</label></a>
              </div>
            </div>
            <img src="../statics/media/img/canchas.JPG">
            <div class="content">
                <p>Silvia Herrera González</p>
                <p class="oculto">"Holaaaaaaaa"</p>
            </div>
        </div>


        <!-- Otro -->


        <div class="card">
            <div class="head"><span class="name">Silvia Herrera González</span></div>
            <div class="social">
                <div class="contact">
                  <i class="fab fa-facebook-square"></i>
                  <a href="https://es-la.facebook.com/"><label>Facebook</label></a>
                </div>
                <div class="contact">
                  <i class="fas fa-at"></i>
                   <a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp"><label>Gmail</label></a>
                </div>
                <div class="contact">
                 <i class="fab fa-github-square"></i>
                  <a href="https://github.com/"><label>Github</label></a>
                </div>
                <div class="contact">
                  <i class="fab fa-spotify"></i>
                  <a href="https://www.spotify.com/mx/"><label>Spotify</label></a>
              </div>
            </div>
            <img src="../statics/media/img/canchas.JPG">
            <div class="content">
                <p>Silvia Herrera González</p>
                <p class="oculto">"Holaaaaaaaa"</p>
            </div>
        </div>
      </div>
  </body>
</html>
