<!DOCTYPE html>
<html lang=es dir="ltr">
  <head>
    <link  rel="icon"   href="../statics/media/img/loguito.png" type="image/png">
    <meta charset="utf-8">
    <title>Coyopinión</title>
    <link rel="stylesheet" href="../statics/css/registro.css">
  </head>
  <body>
    <div id="contenedor">
      <div class="imagen">
        <h1>Alumno</h1>
        <img src="../statics/media/img/loguito.png" alt="">
        <div class="botones">
          <button type="button" class="maestro" id="botonCambio">Maestro</button>
        </div>
      </div>
      <div class="registro">
        <div class="formRegistro">
          <form class="" action="../dynamics/php/registro.php" method="post">
            <h4>Nombre(s)</h4>
            <input type="text" name="nombre" pattern="^([A-ZÁÉÍÓÚ][a-záéíóú]{1,}\s?)+$" required>
            <h4>Apellido Paterno</h4>
            <input type="text" name="apPaterno"pattern="^([A-ZÁÉÍÓÚ][a-záéíóú]{1,}\s?)+$" required>
            <h4>Apellido Materno</h4>
            <input type="text" name="apMaterno" pattern="^([A-ZÁÉÍÓÚ][a-záéíóú]{1,}\s?)+$" required>
            <h4>Correo Electrónico</h4>
            <input type="text" name="correo"pattern="^\w+@(comunidad.unam.mx|(gmail|hotmail|yahoo).com)$" required>
            <h4 class="tituloUno">Número de cuenta</h4>
            <input type="text" name="noCuenta" class="uno" pattern='^[0-9]{9}$' required>
            <h4 class="tituloDos">CURP</h4>
            <input type="text" name="curp"  class="dos"  required>
            <input type="hidden" name="tipo" value="alumno" class="tipo">
            <div class="cambio">
              <h4>Fecha de nacimiento</h4>
              <input type="date" name="fecha"pattern="^(200[2-3])-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])$" required>
            </div>
            <h4>Contraseña</h4>
            <input type="password" name="contraseña" pattern="^((?=\S*[A-Z])(?=\S*[a-z])(?=\S*\d)($?=\S*[@$%#!¡?¿.,]))\S{10,30}$" required>
            <span class="envio"><input type="submit" name"enviar" class="enviar"></span>
            <p>¿Ya tienes una cuenta?<a class="link" href="inicio.html">Iniciar Sesion</a></p>
          </form>
        </div>
      </div>
    </div>
    <script src="../dynamics/js/registro.js" charset="utf-8"></script>
  </body>
</html>
